:root{
  --col1:#7ed957;
  --col2:gray;
--col3:#c0c0c0;
}

*{
  margin: 0;
  padding: 0;
  font-family: "Poppins",sans-serif;
  font-weight: 400;
}

#dropdown-basic{
margin: 0;
padding: 0;
outline: none;
border: none;
}